
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}   

form{
    margin-top: -80px;
}
.container-contact{
    margin-top: 10%;
    margin-left: 40%;
    line-height: 60px;
}

input , textarea{
    outline: none;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 5px;
}
input:focus, textarea:focus{
    border-color: rgb(0, 247, 111);
    border: 2px solid rgb(0, 247, 111);
    cursor: auto;
}

textarea{
    width: 60vh;
    height: 20vh;
    resize: none;
    margin-top:1em;
    margin-left: -9%;
}

button{
    
    border: 1px solid transparent;
    border-bottom: 5px solid rgb(21, 124, 192);
    border-radius: 5px;
    outline: none;

    margin-left: 9%;

    background: rgb(0, 153, 255);
    color: #fff;

    font-weight: 500;
    width: 7em;
    height: 6vh;

    
    transition: all 0.2s ease;
}
button:hover{
    background: rgb(21, 124, 192);
}
nav {
    margin: 0% 0 0 75%;
    padding-top:7%;
}

nav ul li {
    display: inline; 
}

a{
    padding: 0 0 0 15%;
    
    font-weight: bolder;
}

a:hover {
    color: #e74c3c;
}