
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}


/* Inicio Configuração NavBar */

body {
    background-image: url("../img/game.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;

    width: 100%;
    height: 100vh;

    
     /* Colocando a imagem como background */

    z-index: -1;

}

nav {
    margin: 0% 0 0 75%;
    padding-top:7%;
}

nav ul li {
    display: inline; 
}

a {
    padding: 0 0 0 15%;
    color: #ffffff;
    font-weight: bold;
}

a:hover {
    color: #e74c3c;
}

/* Final Configuração NavBar */

/* Inicio Configuração Conteudo Principal */
h1{
    
    transition: all 0.3s ease;

    outline: none;
  
   

}
h1:hover{
    
    color:#e74c3c;
}
.tratando-h1{
    text-align: center;
    
    border-style: none;
    text-decoration: none;
    height: 10em;
   
}
.p-element{
    font-weight: bold;
    text-align: center;
    color: white;

    margin-top: 10px;
}

.main-text {
    position: relative;
    padding-top: 15%;
    color: white;
    
    text-align: center;
    font-size: 16pt;
}
.item{
    box-shadow: #020202;
}

/* Final Conteudo Principal*/


/* Inicio Grid Layout Grid*/
h3{
    color: #ffffff;
}

.p-element{
    font-weight: normal;
}

.grid {
    display: grid;
	max-width: 800px;
	margin: 0 auto;
	/*border: 1px solid #ffffff;*/
}

.grid-auto-flow-1{
    grid-auto-flow: column;
}
.item {

    margin-top: 300px;
    margin: 30px;
    letter-spacing: .1rem;
	
    font-size: 1.5em;
    text-align: center;

}

.grid, .grid-auto-flow-1{
    margin-top: 10%;
}

/* Final Grid Layout Grid*/

/*Inicio Secundario*/

.secondary{
   
    margin-top: 10%;
    height: 600px;
    width: 100%;

}

.sidepicture-left{
    display: flex;
    position: relative;
}
.formatter-h2{  
    position: relative;

    padding-top: 10vh;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}


.rightp-element{
    /*border: 1px solid purple;*/
    margin: -25% 0 0 50%;
    text-align: justify;
    
    text-indent: 10%;  
    line-height: 30px; /*Espaçamento entre as linhas*/
    
    width: 47%;

}

.box-filmes{
    width: 100%;
    height: 100%;
    display: block;
}
/*Final Secundario*/

/*Inicio Ultimo Elemento*/
.lastElements{
    
    margin-top: 1%;
    padding-top: 10vh;
    text-align: center;
    
    width: 100%;
    height: 600px;
    
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    background-color: #2ed573;
    margin-top: 5%; 
}

.flex-container >div{
    
    width: 100px;
    margin: 10px;
   
    margin-left: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
    padding-top: 30px;
 
    place-items: center;
}
/* Verificar o problema com a inserção da classe .arrendoda-img e terminar o layout do flexbox*/
img{
    
    border-radius: 200px;
}
/* Final Ultimo Elemento */

/*Inicio Configuração Footer */
small{
    
    margin-left: 40%;
   
    
    font-size: 14px;
    font-weight: bolder;
}
/* Final COnfiguração Footer */